/.vscode
/1.jarvis.py
/1st.php
/1stday.py
/2.py
/2day.py
/3.py
/4.py
/build
/first.cpp
/first.exe
/first.py
/form.html
/index.html
/index2.html
/lal.html
/log.txt
/lolo.html
/prform.html
/RAM.HTML
/samir.html